[alias]
    ci = commit
    st = status
    co = checkout
    df = diff
    br = branch
    bn = !git for-each-ref --format='%(refname:short)' `git symbolic-ref HEAD`
    fet = fetch piston
    reb = rebase piston/master
    lc = log ORIG_HEAD.. --stat --no-merges
    undo = reset --hard
    pom = push origin master
    record = ! sh -c '(git add -p -- $@ && git commit) || git reset' --
    prune-all = !git remote | xargs -n 1 git remote prune
    whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
    whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
    today-all = !git all --since='12am'
    all-commiters = shortlog -s --
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    
[core]
    excludesfile = /Users/susan/.gitignore_global
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[user]
    name = Susan Tan
    email = susan@pistoncloud.com
